/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/core/target/
/lift/target/
/bin/
/.classpath
/.project
/.cache
/.settings/
/.idea
/.idea/*
/project/.sbtserver*
/.sbtserver/
/.idea_modules
/.idea_modules/*
/data/